@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
    width: 100%;
}

body {
    background: #2c2c2c;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}